<h2 md-dialog-title>新用户注册</h2>
<md-dialog-content>
  <form #registerForm="ngForm">
    <md-input-container>
      <input mdInput placeholder="请输入用户名" #username2 required minlength="6">
    </md-input-container>
    <md-input-container>
      <input mdInput type="password" placeholder="请输入密码" #password2 required minlength="6">
    </md-input-container>
    <md-input-container>
      <input mdInput type="email" placeholder="请输入邮箱" #email2 required minlength="6">
    </md-input-container>
  </form>
</md-dialog-content>
<md-dialog-actions>
  <button
          md-raised-button
          [style.marginRight.px]="10"
          color="primary"
          (click)="register(username2.value, password2.value, {email: email2.value})"
          [disabled]="!registerForm.form.valid">注册
  </button>
  <button md-button (click)="login()">已有账号登录</button>
</md-dialog-actions>