article {
  padding: 20px;
  border-color: #e4e4e4;
  line-height: 1.2;

  h1,
  h2 {
    margin: 0;
    font-weight: normal;
    font-family: "微软雅黑", Arial, "Trebuchet MS", Helvetica, Verdana;
  }

  h1 {
    font-size: 44px;
    color: #0188DE;
    padding: 20px 0px 10px;
  }

  h2 {
    color: #0188DE;
    font-size: 16px;
    padding: 10px 0px 30px;
  }

  p {
    color: #666666;
    padding: 0;
    margin-bottom: 40px;
  }
}
