<div style="margin: -24px -24px 0;">
  <md-toolbar color="primary">
    <h2>筛选</h2>
    <span style="flex: 1 1 auto"></span>
    <button md-icon-button md-dialog-close>
      <md-icon>close</md-icon>
    </button>
  </md-toolbar>
</div>

<md-dialog-content style="padding: 16px 16px 0;">
  <table width="100%">
    <tr *ngFor="let filter of filters; let index = index">
      <td>
        <md-select placeholder="字段" [(ngModel)]="filter.key" (change)="filter.type = ''">
          <md-option *ngFor="let option of options" [value]="option.key">{{ option.name }}
          </md-option>
        </md-select>
      </td>
      <td>
        <md-select placeholder="条件" [(ngModel)]="filter.type">
          <md-option *ngFor="let option of getType(filter.key)" [value]="option.key">{{ option.name }}
          </md-option>
        </md-select>
      </td>
      <td [ngSwitch]="getValueType(filter)">
        <md-input-container *ngSwitchCase="'string'">
          <input mdInput placeholder="关键字" [(ngModel)]="filter.value">
        </md-input-container>

        <div *ngSwitchDefault></div>
        {{getValueType(filter)}}
      </td>
      <td>
        <button md-icon-button (click)="remove(index)">
          <md-icon>remove</md-icon>
        </button>
      </td>
    </tr>
  </table>
</md-dialog-content>

<md-dialog-actions align="end" style="margin-right: -12px;margin-left: -12px;">
  <button md-icon-button (click)="add()">
    <md-icon>add</md-icon>
  </button>
  <button md-icon-button (click)="filters = [{}]">
    <md-icon>clear_all</md-icon>
  </button>
  <span fxFlex></span>
  <button md-button md-dialog-close>取消</button>
  <button md-button color="warn" [md-dialog-close]="true">筛选</button>
</md-dialog-actions>
