<article fxLayoutAlign="center center">
  <mat-card>
    <mat-card-content>
      <div>
        <div class="logo">
          <div class="icon-lock"></div>
        </div>
        <h4>用户登录</h4>
      </div>
      <form [formGroup]="form" (ngSubmit)="submit($event)">
        <mat-form-field color="accent">
          <input matInput formControlName="username" placeholder="用户名">
          <mat-error *ngIf="hasError('username', 'required')">请输入用户名</mat-error>
          <mat-error *ngIf="hasError('username', 'minlength')">长度过短</mat-error>
          <mat-error *ngIf="hasError('username', 'maxlength')">长度超过限制</mat-error>
        </mat-form-field>
        <mat-form-field color="accent">
          <input matInput type="password" formControlName="password" placeholder="密　码">
          <mat-error *ngIf="hasError('password', 'required')">请输入密码</mat-error>
          <mat-error *ngIf="hasError('password', 'minlength')">长度过短</mat-error>
          <mat-error *ngIf="hasError('password', 'maxlength')">长度超过限制</mat-error>
        </mat-form-field>
        <button mat-fab color="accent">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions align="center">
      <a [routerLink]="[ '/forget']">忘记密码 ? </a>
    </mat-card-actions>
  </mat-card>
</article>
