@font-face {
  font-family: octicons-anchor;
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAYcAA0AAAAACjQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABMAAAABwAAAAca8vGTk9TLzIAAAFMAAAARAAAAFZG1VHVY21hcAAAAZAAAAA+AAABQgAP9AdjdnQgAAAB0AAAAAQAAAAEACICiGdhc3AAAAHUAAAACAAAAAj//wADZ2x5ZgAAAdwAAADRAAABEKyikaNoZWFkAAACsAAAAC0AAAA2AtXoA2hoZWEAAALgAAAAHAAAACQHngNFaG10eAAAAvwAAAAQAAAAEAwAACJsb2NhAAADDAAAAAoAAAAKALIAVG1heHAAAAMYAAAAHwAAACABEAB2bmFtZQAAAzgAAALBAAAFu3I9x/Nwb3N0AAAF/AAAAB0AAAAvaoFvbwAAAAEAAAAAzBdyYwAAAADP2IQvAAAAAM/bz7t4nGNgZGFgnMDAysDB1Ml0hoGBoR9CM75mMGLkYGBgYmBlZsAKAtJcUxgcPsR8iGF2+O/AEMPsznAYKMwIkgMA5REMOXicY2BgYGaAYBkGRgYQsAHyGMF8FgYFIM0ChED+h5j//yEk/3KoSgZGNgYYk4GRCUgwMaACRoZhDwCs7QgGAAAAIgKIAAAAAf//AAJ4nHWMMQrCQBBF/0zWrCCIKUQsTDCL2EXMohYGSSmorScInsRGL2DOYJe0Ntp7BK+gJ1BxF1stZvjz/v8DRghQzEc4kIgKwiAppcA9LtzKLSkdNhKFY3HF4lK69ExKslx7Xa+vPRVS43G98vG1DnkDMIBUgFN0MDXflU8tbaZOUkXUH0+U27RoRpOIyCKjbMCVejwypzJJG4jIwb43rfl6wbwanocrJm9XFYfskuVC5K/TPyczNU7b84CXcbxks1Un6H6tLH9vf2LRnn8Ax7A5WQAAAHicY2BkYGAA4teL1+yI57f5ysDNwgAC529f0kOmWRiYVgEpDgYmEA8AUzEKsQAAAHicY2BkYGB2+O/AEMPCAAJAkpEBFbAAADgKAe0EAAAiAAAAAAQAAAAEAAAAAAAAKgAqACoAiAAAeJxjYGRgYGBhsGFgYgABEMkFhAwM/xn0QAIAD6YBhwB4nI1Ty07cMBS9QwKlQapQW3VXySvEqDCZGbGaHULiIQ1FKgjWMxknMfLEke2A+IJu+wntrt/QbVf9gG75jK577Lg8K1qQPCfnnnt8fX1NRC/pmjrk/zprC+8D7tBy9DHgBXoWfQ44Av8t4Bj4Z8CLtBL9CniJluPXASf0Lm4CXqFX8Q84dOLnMB17N4c7tBo1AS/Qi+hTwBH4rwHHwN8DXqQ30XXAS7QaLwSc0Gn8NuAVWou/gFmnjLrEaEh9GmDdDGgL3B4JsrRPDU2hTOiMSuJUIdKQQayiAth69r6akSSFqIJuA19TrzCIaY8sIoxyrNIrL//pw7A2iMygkX5vDj+G+kuoLdX4GlGK/8Lnlz6/h9MpmoO9rafrz7ILXEHHaAx95s9lsI7AHNMBWEZHULnfAXwG9/ZqdzLI08iuwRloXE8kfhXYAvE23+23DU3t626rbs8/8adv+9DWknsHp3E17oCf+Z48rvEQNZ78paYM38qfk3v/u3l3u3GXN2Dmvmvpf1Srwk3pB/VSsp512bA/GG5i2WJ7wu430yQ5K3nFGiOqgtmSB5pJVSizwaacmUZzZhXLlZTq8qGGFY2YcSkqbth6aW1tRmlaCFs2016m5qn36SbJrqosG4uMV4aP2PHBmB3tjtmgN2izkGQyLWprekbIntJFing32a5rKWCN/SdSoga45EJykyQ7asZvHQ8PTm6cslIpwyeyjbVltNikc2HTR7YKh9LBl9DADC0U/jLcBZDKrMhUBfQBvXRzLtFtjU9eNHKin0x5InTqb8lNpfKv1s1xHzTXRqgKzek/mb7nB8RZTCDhGEX3kK/8Q75AmUM/eLkfA+0Hi908Kx4eNsMgudg5GLdRD7a84npi+YxNr5i5KIbW5izXas7cHXIMAau1OueZhfj+cOcP3P8MNIWLyYOBuxL6DRylJ4cAAAB4nGNgYoAALjDJyIAOWMCiTIxMLDmZedkABtIBygAAAA==) format('woff');
}

app-markdown {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  /*color: #333;*/
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}

app-markdown pre, app-markdown code {
  background: #333;
  color: #fff;
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
}

app-markdown a {
  background-color: transparent;
}

app-markdown a:active,
app-markdown a:hover {
  outline: 0;
}

app-markdown strong {
  font-weight: 500;
}

app-markdown img {
  border: 0;
}

app-markdown hr {
  box-sizing: content-box;
  height: 0;
}

app-markdown pre {
  overflow: auto;
}

app-markdown code,
app-markdown kbd,
app-markdown pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

app-markdown input {
  color: inherit;
  font: inherit;
  margin: 0;
}

app-markdown html input[disabled] {
  cursor: default;
}

app-markdown input {
  line-height: normal;
}

app-markdown input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

app-markdown table {
  border-collapse: collapse;
  border-spacing: 0;
}

app-markdown td,
app-markdown th {
  padding: 0;
}

app-markdown * {
  box-sizing: border-box;
}

app-markdown input {
  font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

app-markdown a {
  /*color: #4078c0;*/
  text-decoration: none;
}

app-markdown a:hover,
app-markdown a:active {
  /*text-decoration: underline;*/
}

app-markdown hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

app-markdown hr:before {
  display: table;
  content: "";
}

app-markdown hr:after {
  display: table;
  clear: both;
  content: "";
}

app-markdown h1,
app-markdown h2,
app-markdown h3,
app-markdown h4,
app-markdown h5,
app-markdown h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}

/*
app-markdown h1 {
  font-size: 30px;
}
app-markdown h2 {
  font-size: 21px;
}
app-markdown h3 {
  font-size: 16px;
}
app-markdown h4 {
  font-size: 14px;
}
app-markdown h5 {
  font-size: 12px;
}
app-markdown h6 {
  font-size: 11px;
}
*/
app-markdown blockquote {
  margin: 0;
}

app-markdown ul,
app-markdown ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

app-markdown ol ol,
app-markdown ul ol {
  list-style-type: lower-roman;
}

app-markdown ul ul ol,
app-markdown ul ol ol,
app-markdown ol ul ol,
app-markdown ol ol ol {
  list-style-type: lower-alpha;
}

app-markdown dd {
  margin-left: 0;
}

app-markdown code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

app-markdown pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

app-markdown .select::-ms-expand {
  opacity: 0;
}

app-markdown .octicon {
  font: normal normal normal 16px/1 octicons-anchor;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

app-markdown .octicon-link:before {
  content: '\f05c';
}

app-markdown > *:first-child {
  margin-top: 0 !important;
}

app-markdown > *:last-child {
  margin-bottom: 0 !important;
}

app-markdown a:not([href]) {
  /*color: inherit;*/
  text-decoration: none;
}

app-markdown .anchor {
  display: inline-block;
  padding-right: 2px;
  margin-left: -18px;
}

app-markdown .anchor:focus {
  outline: none;
}

app-markdown h1,
app-markdown h2,
app-markdown h3,
app-markdown h4,
app-markdown h5,
app-markdown h6 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 1.4;
  /*color: rgba(0, 0, 0, 0.87);*/
}

app-markdown h1 .octicon-link,
app-markdown h2 .octicon-link,
app-markdown h3 .octicon-link,
app-markdown h4 .octicon-link,
app-markdown h5 .octicon-link,
app-markdown h6 .octicon-link {
  /*color: #000;*/
  vertical-align: middle;
  visibility: hidden;
}

app-markdown h1:hover .anchor,
app-markdown h2:hover .anchor,
app-markdown h3:hover .anchor,
app-markdown h4:hover .anchor,
app-markdown h5:hover .anchor,
app-markdown h6:hover .anchor {
  text-decoration: none;
}

app-markdown h1:hover .anchor .octicon-link,
app-markdown h2:hover .anchor .octicon-link,
app-markdown h3:hover .anchor .octicon-link,
app-markdown h4:hover .anchor .octicon-link,
app-markdown h5:hover .anchor .octicon-link,
app-markdown h6:hover .anchor .octicon-link {
  visibility: visible;
}

app-markdown h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  line-height: 1.25;
  border-bottom: 1px solid #eee;
  margin: 0.67em 0;
}

app-markdown h1 .anchor {
  line-height: 1;
}

app-markdown h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  line-height: 1.334;
  border-bottom: 1px solid #eee;
}

app-markdown h2 .anchor {
  line-height: 1;
}

app-markdown h3 {
  font-size: 1.25em;
  line-height: 1.4;
}

app-markdown h3 .anchor {
  line-height: 1.2;
}

app-markdown h4 {
  font-size: 1em;
  line-height: 1.5;
}

app-markdown h4 .anchor {
  line-height: 1.2;
}

app-markdown h5 {
  font-size: 1em;
  line-height: 1.715;
}

app-markdown h5 .anchor {
  line-height: 0.875;
}

app-markdown h6 {
  font-size: 0.75em;
  /*color: #777;*/
}

app-markdown h6 .anchor {
  line-height: 1.1;
}

app-markdown p,
app-markdown blockquote,
app-markdown ul,
app-markdown ol,
app-markdown dl,
app-markdown table,
app-markdown pre {
  margin-top: 0;
  margin-bottom: 16px;
}

app-markdown hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  /*background-color: #e7e7e7;*/
  border: 0 none;
}

app-markdown ul,
app-markdown ol {
  padding-left: 2em;
}

app-markdown ul ul,
app-markdown ul ol,
app-markdown ol ol,
app-markdown ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

app-markdown li > p {
  margin-top: 16px;
}

app-markdown dl {
  padding: 0;
}

app-markdown dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

app-markdown dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

app-markdown blockquote {
  padding: 0 15px;
  /*color: #777;*/
  border-left: 4px solid #ddd;
}

app-markdown blockquote > :first-child {
  margin-top: 0;
}

app-markdown blockquote > :last-child {
  margin-bottom: 0;
}

app-markdown table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

app-markdown table th {
  font-weight: 500;
}

app-markdown table th,
app-markdown table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

app-markdown table tr {
  /*background-color: #fff;*/
  border-top: 1px solid #ccc;
}

app-markdown table tr:nth-child(2n) {
  /*background-color: #f8f8f8;*/
}

app-markdown img {
  max-width: 100%;
  box-sizing: content-box;
  /*background-color: #fff;*/
}

app-markdown code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  /*background-color: rgba(0, 0, 0, 0.04);*/
  border-radius: 3px;
}

app-markdown code:before,
app-markdown code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

app-markdown pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

app-markdown .highlight {
  margin-bottom: 16px;
}

app-markdown .highlight pre,
app-markdown pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  /*background-color: #f7f7f7;*/
  border-radius: 3px;
}

app-markdown .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

app-markdown pre {
  word-wrap: normal;
}

app-markdown pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  /*background-color: transparent;*/
  border: 0;
}

app-markdown pre code:before,
app-markdown pre code:after {
  content: normal;
}

app-markdown kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  /*color: #555;*/
  vertical-align: middle;
  /*background-color: #fcfcfc;*/
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

app-markdown kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  /*color: #555;*/
  vertical-align: middle;
  /*background-color: #fcfcfc;*/
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

app-markdown:before {
  display: table;
  content: "";
}

app-markdown:after {
  display: table;
  clear: both;
  content: "";
}

app-markdown .task-list-item {
  list-style-type: none;
}

app-markdown .task-list-item + .task-list-item {
  margin-top: 3px;
}

app-markdown .task-list-item input {
  margin: 0 0.35em 0.25em -1.6em;
  vertical-align: middle;
}

app-markdown :checked + .radio-label {
  z-index: 1;
  position: relative;
  border-color: #4078c0;
}
