<mat-progress-bar mode="indeterminate" *ngIf="!service.data"></mat-progress-bar>
<mat-card class="no-shadow">
  <form [formGroup]="service.form" (ngSubmit)="service.onSubmit($event)">
    <mat-card>
      <mat-card-title>编辑菜单</mat-card-title>
      <mat-card-content fxLayout="column">

        <mat-form-field>
          <input formControlName="group" placeholder="分组" matInput>
          <mat-error *ngIf="service.hasError('group', 'required')">请输入分组</mat-error>
          <mat-error *ngIf="service.hasError('group', 'minlength')">分组长度过短</mat-error>
          <mat-error *ngIf="service.hasError('group', 'maxlength')">分组长度超过限制</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="name" placeholder="名称" matInput>
          <mat-error *ngIf="service.hasError('name', 'required')">请输入名称</mat-error>
          <mat-error *ngIf="service.hasError('name', 'minlength')">名称长度过短</mat-error>
          <mat-error *ngIf="service.hasError('name', 'maxlength')">名称长度超过限制</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="icon" placeholder="图标" matInput>
          <mat-icon matSuffix>{{service.control('icon').value || 'note'}}</mat-icon>
          <mat-error *ngIf="service.hasError('icon', 'required')">请输入图标</mat-error>
          <mat-error *ngIf="service.hasError('icon', 'minlength')">图标长度过短</mat-error>
          <mat-error *ngIf="service.hasError('icon', 'maxlength')">图标长度超过限制</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="url" placeholder="链接" matInput>
          <mat-error *ngIf="service.hasError('url', 'required')">请输入链接</mat-error>
          <mat-error *ngIf="service.hasError('url', 'minlength')">链接长度过短</mat-error>
          <mat-error *ngIf="service.hasError('url', 'maxlength')">链接长度超过限制</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="orderBy" placeholder="排序" matInput type="number">
          <mat-error *ngIf="service.hasError('orderBy', 'required')">请输入排序</mat-error>
          <mat-error *ngIf="service.hasError('orderBy', 'min')">排序值必须大于0</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select formControlName="roles" placeholder="角色" [multiple]="true" [compareWith]="service.compareObject">
            <mat-option *ngFor="let role of service.roles" [value]="role">{{role.get('alias')}}</mat-option>
          </mat-select>
          <mat-error *ngIf="service.hasError('roles', 'required')">请选择角色</mat-error>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" [disabled]="!service.data">保存</button>
        <a mat-button routerLink="/system/menu">返回</a>
      </mat-card-actions>
    </mat-card>
  </form>
</mat-card>
