/* datatable样式 */
.cdk-table {
    display: block;
    flex: 1 1 auto;
    overflow: auto;
}

.cdk-row, .cdk-header-row {
    display: flex;
    border-bottom: 1px solid #eeeeee;
    align-items: center;
    height: 48px;
    padding: 0 8px;
}

.cdk-cell, .cdk-header-cell {
    width: 150px;
    padding: 10px;
    position: relative;
    flex: 1;
}

.cdk-header-cell {
    font-size: 12px;
    font-weight: bold;
}

.cdk-cell {
    font-size: 13px;
}

.cdk-row {
    cursor: pointer;
}

.cdk-row.data-row:not(.selected):hover {
    background: rgba(0, 0, 0, 0.05);
}

.cdk-row.data-row.selected,
.cdk-row.data-row:active {
    background: rgba(0, 0, 0, 0.03);
}

.cdk-column-__checkbox__ {
    max-width: 24px;
}

/*分页显示*/
.pagination {
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 12px;
    justify-content: flex-end;
}

.pagination .page-size {
    display: flex;
    align-items: center;
}

.pagination .mat-select {
    /*margin-left: 8px;*/

}

.pagination .mat-select /deep/ .mat-select-trigger {
    font-size: 12px;
    min-width: 56px;
}

.pagination .range {
    margin: 0 32px;
}

.pagination button[md-icon-button] + button[md-icon-button] {
    margin-left: 8px;
}

/*工具栏*/
.no-background {
    background: none;
}

.toolbar .content {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.toolbar .content .title {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.toolbar .content .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}
