<cdk-table #table [dataSource]="dataSource">

    <ng-container cdkColumnDef="objectId">
        <cdk-header-cell *cdkHeaderCellDef>ID</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row">{{row.id}}</cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="createdAt">
        <cdk-header-cell *cdkHeaderCellDef>创建时间</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row">{{row.get('createdAt')}}</cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="updatedAt">
        <cdk-header-cell *cdkHeaderCellDef>更新时间</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row">{{row.get('updatedAt')}}</cdk-cell>
    </ng-container>

    <cdk-header-row *cdkHeaderRowDef="display"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: display"></cdk-row>

</cdk-table>