<!--工具栏-->
<div class="toolbar mat-toolbar"
     [ngClass]="{'mat-accent': selection.hasValue(), 'no-background': !selection.hasValue()}">
    <div class="content" *ngIf="!selection.hasValue()">
        <div class="title">用户管理</div>

        <div class="actions">
            <button md-icon-button>
                <md-icon>add_circle_outline</md-icon>
            </button>
            <button md-icon-button>
                <md-icon>filter_list</md-icon>
            </button>
            <button md-icon-button>
                <md-icon>more_vert</md-icon>
            </button>
        </div>
    </div>

    <div class="content" *ngIf="selection.hasValue()">
        <div class="title">
            <button md-icon-button (click)="selection.clear()">
                <md-icon>close</md-icon>
            </button>
            <div>已选择{{selection.selected.length}}条</div>
        </div>

        <div class="actions">
            <button md-button>
                <md-icon>edit</md-icon>
                修改
            </button>
            <button md-button>
                <md-icon>delete</md-icon>
                移除
            </button>
        </div>
    </div>
</div>

<!--数据列表-->
<cdk-table #table [dataSource]="dataSource">

    <!--左侧单选框-->
    <ng-container cdkColumnDef="__checkbox__">
        <cdk-header-cell *cdkHeaderCellDef>
            <md-checkbox (change)="$event ? selectAllToggle() : null"
                         [checked]="isAllSelected()"
                         [indeterminate]="selection.hasValue() && !isAllSelected()">
            </md-checkbox>
        </cdk-header-cell>
        <cdk-cell *cdkCellDef="let row">
            <md-checkbox (click)="$event.stopPropagation()"
                         (change)="$event ? selection.toggle(row) : null"
                         [checked]="selection.isSelected(row)"></md-checkbox>
        </cdk-cell>
    </ng-container>

    <!--自定义字段-->
    <ng-container *ngFor="let option of options" [cdkColumnDef]="option.key">
        <cdk-header-cell *cdkHeaderCellDef>{{option.name}}</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row">{{row[option.key == 'objectId' ? 'id' : option.key] || row.get(option.key)}}
        </cdk-cell>
    </ng-container>

    <!--数据展示-->
    <cdk-header-row *cdkHeaderRowDef="display()"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: display()"
             [class.selected]="row ? selection.isSelected(row) : false"
             [class.data-row]="!!row"
             (click)="row ? selection.toggle(row) : null"></cdk-row>

</cdk-table>

<!--分页展示-->
<div class="pagination" *ngIf="dataSource.pagination.total">
    <div class="page-size">
        <md-select class="no-input-underline" [ngModel]="dataSource.pagination.pageSize"
                   (change)="dataSource.setPageSize($event.value)">
            <md-option *ngFor="let pageSizeOption of pageSizeOptions" [value]="pageSizeOption">
                {{pageSizeOption}}
            </md-option>
        </md-select>
    </div>

    <div class="range">
        {{dataSource.pagination.page}} / {{dataSource.pagination.maxPage}} of
        {{dataSource.pagination.total}}
    </div>

    <button md-icon-button
            (click)="dataSource.pagination.page = 1"
            [disabled]="dataSource.pagination.page <= 1">
        <md-icon>first_page</md-icon>
    </button>
    <button md-icon-button
            (click)="dataSource.incrementPage(-1)"
            [disabled]="!dataSource.canIncrementPage(-1)">
        <md-icon>navigate_before</md-icon>
    </button>
    <button md-icon-button
            (click)="dataSource.incrementPage(1)"
            [disabled]="!dataSource.canIncrementPage(1)">
        <md-icon>navigate_next</md-icon>
    </button>
    <button md-icon-button
            (click)="dataSource.pagination.page = dataSource.pagination.maxPage"
            [disabled]="dataSource.pagination.page >= dataSource.pagination.maxPage">
        <md-icon>last_page</md-icon>
    </button>
</div>
