/* datatable样式 */
.mat-table {
  overflow: auto;
}

.cdk-cell, .cdk-header-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px;
  flex: 1;
}

.cdk-header-cell {
  font-weight: bold;
}

.cdk-column-__checkbox__ {
  max-width: 24px;
  overflow: visible;
}

/*工具栏*/
.no-background {
  background: none;
}

.toolbar .content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.toolbar .content .title {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.toolbar .content .actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}
