<!--<h2 md-dialog-title>修改</h2>-->
<md-dialog-content style="padding: 0;margin-top: -24px;">
    <md-tab-group *ngIf="data.selection.selected.length > 1">
        <md-tab [label]="item.id" *ngFor="let item of data.selection.selected">
            <pre>{{item | json}}</pre>
        </md-tab>
    </md-tab-group>
    <div *ngIf="data.selection.selected.length == 1">
        <pre>{{data.selection.selected | json}}</pre>
    </div>
</md-dialog-content>
<md-dialog-actions align="end" style="margin-right: -12px">
    <button md-button md-dialog-close>取消</button>
    <button md-button color="warn" [md-dialog-close]="true">保存</button>
</md-dialog-actions>

