<div fxLayout="row" fxFill>
    <div fxFlex="56px" fxLayout="column" fxLayoutAlign="start center" [style.padding.px]="8"
         class="mat-toolbar mat-primary">
        <button md-icon-button (click)="sidenav.toggle()">
            <md-icon>menu</md-icon>
        </button>

        <div fxFlex>
            <h3 style="width: 20px;text-align: center">后台管理系统</h3>
        </div>

        <button md-icon-button [mdMenuTriggerFor]="menu" *ngIf="user | async">
            <md-icon>account_circle</md-icon>
        </button>
        <button md-icon-button *ngIf="!(user | async)" (click)="login()">
            登录
        </button>

        <md-menu #menu>
            <button md-menu-item>
                <md-icon>perm_identity</md-icon>
                <span>{{(user | async)?.get('username')}}</span>
            </button>
            <button md-menu-item (click)="parse.logout()">
                <md-icon>exit_to_app</md-icon>
                <span>注销</span>
            </button>
        </md-menu>
    </div>

    <div fxFlex [style.position]="'relative'">
        <md-sidenav-container fullscreen>
            <md-sidenav class="mat-elevation-z6"
                        [style.width.px]="240"
                        [opened]="!isScreenSmall()"
                        [mode]="isScreenSmall() ? 'push' : 'side'"
                        #sidenav>

                <md-nav-list fxFlex>
                    <h3 md-subheader>系统设置</h3>
                    <a md-list-item>
                        <md-icon md-list-icon>settings</md-icon>
                        <span md-line>配置管理</span>
                    </a>
                    <a md-list-item>
                        <md-icon md-list-icon>list</md-icon>
                        <span md-line>菜单管理</span>
                    </a>
                    <md-divider></md-divider>

                    <h3 md-subheader>用户设置</h3>
                    <a md-list-item>
                        <md-icon md-list-icon>group</md-icon>
                        <span md-line>角色管理</span>
                    </a>
                    <a md-list-item>
                        <md-icon md-list-icon>person</md-icon>
                        <span md-line>用户管理</span>
                    </a>
                    <md-divider></md-divider>

                    <h3 md-subheader>关于系统</h3>
                    <a md-list-item>
                        <md-icon md-list-icon>code</md-icon>
                        <span md-line>代码托管</span>
                    </a>
                    <a md-list-item>
                        <md-icon md-list-icon>help</md-icon>
                        <span md-line>使用帮助</span>
                    </a>
                </md-nav-list>

            </md-sidenav>

            <div fxFlex fxLayout="column" fxFill>

                <div fxFlex>
                    <router-outlet></router-outlet>
                </div>

                <app-footer fxFlex="64px"></app-footer>
            </div>

        </md-sidenav-container>
    </div>
</div>