<div fxLayout="row" fxFill>

    <!--左侧工具栏-->
    <div fxFlex="56px" fxLayout="column" fxLayoutAlign="start center"
         class="padding mat-toolbar mat-primary">

        <!--顶部按钮-->
        <button md-icon-button (click)="sidenav.toggle()">
            <md-icon>menu</md-icon>
        </button>

        <!--中间部分-->
        <div fxFlex>
            <h3 style="width: 20px;text-align: center">后台管理系统</h3>
        </div>

        <!--底部按钮-->
        <button md-icon-button (click)="isDarkTheme = !isDarkTheme" mdTooltip="主题模式" mdTooltipPosition="right">
            <md-icon [textContent]="isDarkTheme ? 'brightness_4' : 'brightness_5'"></md-icon>
        </button>
        <a routerLink="/login" md-icon-button *ngIf="!(user | async)" mdTooltip="用户登录" mdTooltipPosition="right">
            登录
        </a>
        <button md-icon-button [mdMenuTriggerFor]="menu" *ngIf="user | async" mdTooltip="用户中心"
                mdTooltipPosition="right">
            <md-icon>account_circle</md-icon>
        </button>
        <md-menu #menu>
            <button md-menu-item>
                <md-icon>perm_identity</md-icon>
                <span>{{(user | async)?.get('username')}}</span>
            </button>
            <button md-menu-item (click)="parse.logout()">
                <md-icon>exit_to_app</md-icon>
                <span>注销</span>
            </button>
        </md-menu>
    </div>

    <!--内容区域-->
    <div fxFlex [style.position]="'relative'">
        <md-sidenav-container fullscreen>

            <!--左侧菜单-->
            <md-sidenav class="mat-elevation-z6"
                        [opened]="!isScreenSmall()"
                        [mode]="isScreenSmall() ? 'push' : 'side'"
                        #sidenav>

                <div fxFlex fxLayout="column" fxFill>

                    <!--菜单列表-->
                    <md-nav-list fxFlex style="overflow-y: auto">
                        <div *ngIf="!getMenus().groups.length" fxLayoutAlign="center start">
                            <p>没有数据</p>
                        </div>

                        <div *ngFor="let group of getMenus().groups; let first=first">
                            <!--分隔符-->
                            <md-divider *ngIf="!first"></md-divider>

                            <!--菜单分组-->
                            <h3 md-subheader>{{group}}</h3>

                            <!--菜单列表-->
                            <a md-list-item *ngFor="let menu of getMenus().tree[group]">
                                <md-icon md-list-icon>{{menu.icon}}</md-icon>
                                <span md-line>{{menu.name}}</span>
                            </a>
                        </div>
                    </md-nav-list>

                    <!--搜索-->
                    <md-divider></md-divider>
                    <input fxFlex="40px" fxLayoutAlign="start center" class="mat-toolbar padding searchbar"
                           type="search" placeholder="搜索关键字" [(ngModel)]="keyword">

                </div>

            </md-sidenav>

            <!--右侧内容区域-->
            <div fxFlex fxLayout="column" fxFill>

                <div fxFlex>
                    <router-outlet></router-outlet>
                </div>

                <app-footer fxFlex="64px"></app-footer>
            </div>

        </md-sidenav-container>
    </div>
</div>