a {
  outline: none;
}

.title {
  margin: 8px auto;
  width: 30px;
  line-height: 1.1;
  text-align: center;
  outline: none
}

.padding {
  padding: 8px;
}

.search-container {
  width: 100%;
  margin-top: 4px;
}

.search-container /deep/ md-icon {
  padding: 0 8px;
  cursor: default;
}

.search-container /deep/ .mat-input-flex {
  align-items: center;
}

.search-container /deep/ .mat-input-infix {
  border-top: 0;
}

.search-container /deep/ .mat-input-underline {
  display: none;
}

input::-ms-clear, input::-webkit-search-cancel-button {
  display: none;
}
