a {
    outline: none;
}

.title {
    margin: 8px auto;
    width: 30px;
    line-height: 1.1;
    text-align: center;
    outline: none
}

.padding {
    padding: 8px;
}

.search-container {
    width: 100%;
    margin-top: -8px;
}

.search-container md-icon {
    padding: 4px 8px;
    cursor: default;
}

input::-ms-clear, input::-webkit-search-cancel-button {
    display: none;
}
