<div fxLayout="row" fxFill>

    <!--左侧工具栏-->
    <div fxFlex="56px" fxLayout="column" fxLayoutAlign="start center"
         class="padding mat-toolbar mat-primary">

        <!--顶部按钮-->
        <button md-icon-button (click)="sidenav.toggle()">
            <md-icon>menu</md-icon>
        </button>

        <!--中间部分-->
        <div fxFlex>
            <h3 class="title" routerLink="/admin">后台管理系统</h3>
        </div>

        <!--底部按钮-->
        <button md-icon-button (click)="changeTheme()">
            <md-icon [textContent]="isDarkTheme ? 'brightness_4' : 'brightness_5'"></md-icon>
        </button>
        <a routerLink="/login" md-icon-button *ngIf="!(userService.data | async)">登录</a>
        <button md-icon-button [mdMenuTriggerFor]="userMenu" *ngIf="userService.data | async">
            <md-icon>account_circle</md-icon>
        </button>
        <md-menu #userMenu>
            <button md-menu-item (click)="userService.profile()">
                <md-icon>perm_identity</md-icon>
                <span>{{(userService.data | async)?.get('username')}}</span>
            </button>
            <button md-menu-item (click)="userService.logout()">
                <md-icon>exit_to_app</md-icon>
                <span>注销</span>
            </button>
        </md-menu>
    </div>

    <!--内容区域-->
    <div fxFlex [style.position]="'relative'">
        <md-sidenav-container fullscreen style="width: 100%;">

            <!--左侧菜单-->
            <md-sidenav class="mat-elevation-z6"
                        [opened]="!isScreenSmall()"
                        [mode]="isScreenSmall() ? 'push' : 'side'"
                        [style.width.px]="240"
                        #sidenav>

                <div fxFlex fxLayout="column" fxFill>

                    <!--菜单列表-->
                    <md-nav-list fxFlex style="overflow-y: auto">
                        <div *ngIf="!menuService.getData('groups').length" fxLayoutAlign="center start">
                            <p style="font-size: 14px;font-style: italic;">没有数据</p>
                        </div>

                        <div *ngFor="let group of menuService.getData('groups'); let first=first" style="width: 100%">
                            <!--分隔符-->
                            <md-divider *ngIf="!first"></md-divider>

                            <!--菜单分组-->
                            <h3 md-subheader>{{group}}</h3>

                            <!--菜单列表-->
                            <a md-list-item *ngFor="let menu of menuService.getData('tree', group)"
                               [routerLink]="menu.link">
                                <md-icon md-list-icon [class]="menu?.iconClass">{{menu?.icon}}</md-icon>
                                <span md-line>{{menu.name}}</span>
                            </a>
                        </div>
                    </md-nav-list>

                    <!--搜索-->
                    <md-divider></md-divider>

                    <div fxFlex="40px" style="overflow: hidden">
                        <md-input-container floatPlaceholder="never" class="search-container">
                            <div mdPrefix>
                                <md-icon>search</md-icon>
                            </div>
                            <input mdInput placeholder="搜索关键字" [(ngModel)]="menuService.keyword">
                            <div mdSuffix *ngIf="menuService.keyword">
                                <md-icon (click)="menuService.keyword = ''" [style.cursor]="'pointer'">close</md-icon>
                            </div>
                        </md-input-container>
                    </div>

                </div>

            </md-sidenav>

            <!--右侧内容区域-->
            <div fxFlex fxFill fxLayout="column">
                <div fxFlex>
                    <router-outlet></router-outlet>
                </div>

                <md-divider></md-divider>

                <div fxFlex="56px">
                    <app-footer></app-footer>
                </div>
            </div>

        </md-sidenav-container>
    </div>
</div>