<h2 md-dialog-title>用户登录</h2>
<md-dialog-content>
    <form #loginForm="ngForm">
        <md-input-container>
            <input mdInput placeholder="请输入用户名" #username1 value="aaaaaa" required minlength="6">
        </md-input-container>
        <md-input-container>
            <input mdInput type="password" placeholder="请输入密码" #password1 value="111111" required
                   minlength="6">
        </md-input-container>
    </form>
</md-dialog-content>
<md-dialog-actions>
    <button
            md-raised-button
            color="primary"
            [style.marginRight.px]="10"
            (click)="login(username1.value, password1.value)"
            [disabled]="!loginForm.form.valid">登录
    </button>
    <button md-raised-button [style.marginRight.px]="10" (click)="register()">注册</button>
    <button md-button (click)="forget()">忘记密码</button>
</md-dialog-actions>