<div style="margin: -24px -24px 0;">
  <md-toolbar color="primary">
    <h2>添加</h2>
    <span style="flex: 1 1 auto"></span>
    <button md-icon-button md-dialog-close>
      <md-icon>close</md-icon>
    </button>
  </md-toolbar>
</div>

<md-dialog-content style="padding: 0;">
  <md-grid-list cols="2" rowHeight="4:1" style="margin: 16px 8px 0;">
    <md-grid-tile *ngFor="let option of options">
      <md-input-container style="width: 96%">
        <input mdInput placeholder="{{option.name}}" value="{{option.key}}">
      </md-input-container>
    </md-grid-tile>
  </md-grid-list>
</md-dialog-content>

<md-dialog-actions align="end" style="margin-right: -12px;">
  <button md-button md-dialog-close>取消</button>
  <button md-button color="warn" [md-dialog-close]="true">添加</button>
</md-dialog-actions>
