<mat-progress-bar mode="indeterminate" *ngIf="!service.data"></mat-progress-bar>
<mat-card class="no-shadow">
  <mat-card-header>
    <mat-icon mat-card-avatar>account_circle</mat-icon>
    <mat-card-title>
      <span>{{(service.data | pointer:'sender' | async | get:'nick') || '[系统消息]'}}</span>
    </mat-card-title>
    <mat-card-subtitle>
      <small>
        <time>{{service.data | get:'createdAt' | date:'LLLL'}}</time>
      </small>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <app-markdown [value]="(service.data | get:'content') || 'loading...'"></app-markdown>
  </mat-card-content>
</mat-card>
