<mat-toolbar color="primary" class="mat-elevation-z3">
  <button mat-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/">{{config.name}}</span>
  <span fxFlex></span>
  <button mat-icon-button routerLink="/user/message">
    <mat-icon>{{user.notifications.length ? 'notifications_active' : 'notifications_none'}}</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="accountMenu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item routerLink="/user/profile">
      <mat-icon>account_circle</mat-icon>
      <span>{{user.current?.get('nick')}}</span>
    </button>
    <button mat-menu-item (click)="user.logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>退出登录</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav appScrollbar
               [mode]="isScreenSmall ? 'over' : 'side'"
               [(opened)]="isOpen"
               class="mat-elevation-z3">
    <mat-nav-list>
      <mat-list-item [disableRipple]="true">
        <input [(ngModel)]="menu.keyword" type="search" placeholder="搜索关键字...">
      </mat-list-item>
      <mat-divider></mat-divider>

      <ng-container *ngFor="let group of menu.group;">
        <h3 matSubheader>{{group.name}}</h3>
        <mat-list-item *ngFor="let child of group.children"
                       [routerLink]="child.get('url')"
                       routerLinkActive #rla="routerLinkActive"
                       [class.active]="rla.isActive">
          <mat-icon matListIcon>{{child.get('icon') || 'note'}}</mat-icon>
          <span matLine>{{child.get('name')}}</span>
          <button mat-icon-button
                  matSuffix
                  [disableRipple]="true"
                  *ngIf="child.get('url') == '/user/message' && user.notifications.length">
            {{user.notifications.length}}
          </button>
        </mat-list-item>
        <!--<mat-divider></mat-divider>-->
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fxLayout="column" appScrollbar>
    <mat-toolbar color="primary"
                 fxLayoutAlign="start center"
                 fxFlex.xs="48px"
                 fxFlex.sm="56px"
                 fxFlex.gt-sm="88px">
      <button mat-icon-button *ngIf="snapshot.data['back']" [routerLink]="snapshot.data['back']">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span *ngIf="snapshot.data['title']">{{snapshot.data['title']}}</span>
      <span fxFlex></span>
      <button mat-icon-button *ngIf="snapshot.data['help']" [routerLink]="snapshot.data['help']">
        <mat-icon>help_outline</mat-icon>
      </button>
    </mat-toolbar>

    <section>
      <router-outlet></router-outlet>
    </section>

    <section fxFlex></section>
    <footer *ngIf="config.copyright"
            fxLayoutAlign="space-between center"
            fxFlex.xs="48px"
            fxFlex.sm="56px"
            fxFlex.gt-sm="88px">
      <p>&copy; {{config.copyright}}</p>
      <p *ngIf="config.version">{{config.version}}</p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
