<div class="layout" fxLayout.lt-md="column" fxLayout.md="row-reverse" fxLayout.gt-md="row-reverse">

  <mat-toolbar color="primary"
               fxLayout="column"
               fxLayoutAlign="center center"
               fxFlex.xs="48px"
               fxFlex.sm="48px"
               fxFlex.gt-sm="40%">
    <app-qrcode [value]="config.domain"
                size="88"
                backgroundAlpha="0.8"
                foregroundAlpha="0.75"
                fxHide.lt-md="true">
    </app-qrcode>
    <span>{{config.name}}</span>
  </mat-toolbar>

  <article fxFlex fxLayoutAlign="center center" fxLayout="column">
    <form [formGroup]="service.form" (ngSubmit)="service.onSubmit($event)">
      <h2>找回密码</h2>

      <mat-form-field>
        <input formControlName="email" type="email" matInput placeholder="邮箱">
        <mat-error *ngIf="service.hasError('email', 'required')">请输入邮箱</mat-error>
        <mat-error *ngIf="!service.hasError('email', 'required') && service.hasError('email', 'email')">
          邮箱格式不正确
        </mat-error>
        <mat-error *ngIf="service.hasError('email', 'invalid')">邮箱不存在</mat-error>
        <mat-hint *ngIf="service.control('email')?.pending">验证中...</mat-hint>
      </mat-form-field>

      <div fxLayout>
        <button mat-raised-button color="primary">重置密码</button>
        <span fxFlex></span>
        <a [routerLink]="['/login', service.params]" mat-button>尝试登录</a>
      </div>

    </form>
  </article>

</div>
