<app-header title="后台首页"></app-header>

<md-card>
    <md-card-title>MarkDown</md-card-title>
    <md-divider></md-divider>
    <md-card-content>
        <app-markdown [content]="markdown"></app-markdown>
        <hr>
        <md-input-container style="width:100%">
            <textarea mdInput [(ngModel)]="markdown" style="height: 160px"></textarea>
        </md-input-container>
    </md-card-content>
</md-card>

<md-card>
    <md-card-title>二维码测试</md-card-title>
    <md-divider></md-divider>
    <md-card-content>
        <app-qrcode [value]="qrcode" size="200"></app-qrcode>
        <hr>
        <md-input-container style="width:100%">
            <input mdInput placeholder="二维码测试" [(ngModel)]="qrcode">
        </md-input-container>
    </md-card-content>
</md-card>
