html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

app-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  router-outlet + * {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .spinner {
    animation: rotator 1.5s linear infinite;

    .path {
      stroke-dasharray: 187;
      stroke-dashoffset: 0;
      transform-origin: center;
      animation: dash 1.5s ease-in-out infinite, colors 6s ease-in-out infinite;
    }
  }
  .centre {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .padding {
    padding: 8px;
  }

  .no-padding {
    padding: 0;
  }

  .margin {
    margin: 8px;
  }

  .no-margin {
    margin: 0;
  }

  .no-input-underline {
    .mat-input-underline {
      display: none;
    }
  }
}