/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

app-root, router-outlet + * {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

app-root .centre {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

pre {
    background: #333;
    color: #fff;
    font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
    font-size: 12px;
    line-height: 1.5;
    padding: 10px;
    width: auto;
    overflow: auto;
    /*border-radius: 4px;*/
}

md-card {
    margin: 8px;
}

md-card-content {
    overflow-x: auto;
    padding: 8px 0;
}

.padding {
    padding: 8px;
}

.no-padding {
    padding: 0;
}

.margin {
    margin: 8px;
}

.no-margin {
    margin: 0;
}

.no-input-underline .mat-input-underline {
    display: none;
}
