@import 'assets/iconfont/material-icons.css';
@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

@include mat-core();

// 正常效果
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme);

// 夜间模式
.dark-theme {
  $dark-primary: mat-palette($mat-blue-grey);
  $dark-accent: mat-palette($mat-amber, A200, A100, A400);
  $dark-warn: mat-palette($mat-deep-orange);

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
  @include covalent-theme($dark-theme);
}
