@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

[mat-dialog-title], mat-dialog-content {
  min-width: 360px;

  @media (min-width: 600px) and (max-width: 960px) {
    min-width: 320px;
  }

  @media (min-width: 360px) and (max-width: 600px) {
    min-width: 240px;
  }

  @media (max-width: 360px) {
    min-width: 200px;
  }
}

mat-row {
  &:not(.selected):hover {
    background: rgba(0, 0, 0, 0.04);
  }
  &.selected, &:active {
    background: rgba(0, 0, 0, 0.06);
  }
}

mat-icon.fa {
  font-size: 24px;
}

[matInput] {
  -webkit-appearance: none;
}

[routerLink] {
  outline: none;
}

app-editor:not(.no-border) {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

app-editor + mat-error {
  font-size: 12px;
}
