@import 'assets/iconfont/material-icons.css';
@import 'assets/iconfont/iconfont.css';
@import '~font-awesome/css/font-awesome.css';
@import '~@angular/material/theming';
@import '~@covalent/core/common/styles/layout';
@import '~@covalent/core/theming/all-theme';

@include mat-core();

// 字体
.fa, .iconfont {
  font-size: 24px;
}

// 正常效果
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include covalent-theme($theme);
@include angular-material-theme($theme);

// 夜间模式
.dark-theme {
  $dark-primary: mat-palette($mat-blue-grey);
  $dark-accent: mat-palette($mat-amber, A200, A100, A400);
  $dark-warn: mat-palette($mat-deep-orange);

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include covalent-theme($dark-theme);
  @include angular-material-theme($dark-theme);
}

md-card {
  margin: 8px;

  md-card-content {
    overflow-x: auto;
    padding: 8px 0;
  }
}