<div fxLayout.lt-md="column" fxLayout.md="row-reverse" fxLayout.gt-md="row-reverse" fxFill>
    <div fxFlex.lt-md="96px" fxFlex.md="40%" fxFlex.gt-md="40%" fxLayoutAlign="center center"
         class="mat-toolbar mat-primary">
        <h3>后台管理系统</h3>
    </div>

    <div fxFlex [fxLayoutAlign]="isScreenSmall() ? 'start center' : 'center center'" fxLayout="column">
        <md-card style="box-shadow: none; width:68%; min-width: 240px">
            <md-card-title>用户注册</md-card-title>
            <md-card-content fxLayoutAlign="start center">
                <form #registerForm="ngForm" style="width: 100%">
                    <md-input-container style="width: 100%">
                        <input mdInput placeholder="请输入用户名" name="username"
                               #usernameElement
                               [(ngModel)]="username"
                               required
                               minlength="6"
                               maxlength="20">
                        <md-hint align="end">{{usernameElement.value.length}} / 20</md-hint>
                    </md-input-container>
                    <md-input-container style="width: 100%">
                        <input type="email" mdInput placeholder="请输入邮箱" name="email"
                               #emailElement
                               [(ngModel)]="email"
                               required
                               pattern="^\w+([-\.]?\w+)+@(\w+[-\.])+\w{2,}$"
                               minlength="6"
                               maxlength="20">
                        <md-hint align="end">{{emailElement.value.length}} / 20</md-hint>
                    </md-input-container>
                    <md-input-container style="width: 100%">
                        <input mdInput type="password" name="password"
                               #passwordElement
                               [(ngModel)]="password"
                               placeholder="请输入密码"
                               required
                               minlength="6"
                               maxlength="20">
                        <md-hint align="end">{{passwordElement.value.length}} / 20</md-hint>
                    </md-input-container>
                </form>
            </md-card-content>
            <md-card-actions>
                <div style="padding:0 8px">
                    <button md-raised-button color="primary" [disabled]="!registerForm.form.valid" (click)="submit()">注册
                    </button>
                    <a routerLink="/login" md-button>用户登录</a>
                </div>
            </md-card-actions>
        </md-card>

    </div>
</div>