<div class="layout" fxLayout.lt-md="column" fxLayout.md="row-reverse" fxLayout.gt-md="row-reverse">

  <mat-toolbar color="primary"
               fxLayout="column"
               fxLayoutAlign="center center"
               fxFlex.xs="48px"
               fxFlex.sm="48px"
               fxFlex.gt-sm="40%">
    <app-qrcode [value]="config.domain"
                size="88"
                backgroundAlpha="0.8"
                foregroundAlpha="0.75"
                fxHide.lt-md="true">
    </app-qrcode>
    <span>{{config.name}}</span>
  </mat-toolbar>

  <article fxFlex fxLayoutAlign="center center" fxLayout="column">
    <form [formGroup]="service.form" (ngSubmit)="service.onSubmit($event)">
      <h2>用户注册</h2>

      <mat-form-field>
        <input formControlName="nick" type="text" matInput placeholder="昵称">
        <mat-error *ngIf="service.hasError('nick', 'required')">请输入昵称</mat-error>
        <mat-error *ngIf="service.hasError('nick', 'minlength')">昵称长度过短</mat-error>
        <mat-error *ngIf="service.hasError('nick', 'maxlength')">昵称长度超过限制</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="email" type="email" matInput placeholder="邮箱">
        <mat-error *ngIf="service.hasError('email', 'required')">请输入邮箱</mat-error>
        <mat-error *ngIf="!service.hasError('email', 'required') && service.hasError('email', 'email')">
          邮箱格式不正确
        </mat-error>
        <mat-error *ngIf="service.hasError('email', 'duplicated')">邮箱已存在</mat-error>
        <mat-hint *ngIf="service.control('email')?.pending">验证中...</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="password" type="password" matInput placeholder="密码">
        <mat-error *ngIf="service.hasError('password', 'required')">请输入密码</mat-error>
        <mat-error *ngIf="service.hasError('password', 'minlength')">密码长度过短</mat-error>
        <mat-error *ngIf="service.hasError('password', 'maxlength')">密码长度超过限制</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="checkPassword" type="password" matInput placeholder="确认密码">
        <mat-error *ngIf="service.hasError('checkPassword', 'required')">请输入密码</mat-error>
        <mat-error *ngIf="service.hasError('checkPassword', 'confirm')">密码不一致</mat-error>
      </mat-form-field>

      <div fxLayout>
        <button mat-raised-button color="primary">注册</button>
        <a [routerLink]="['/login', service.params]" mat-button>老用户登录</a>
      </div>

    </form>
  </article>

</div>
