<mat-card class="no-shadow">
  <form [formGroup]="service.form" (ngSubmit)="service.onSubmit($event)">
    <mat-card>
      <mat-card-title>个人资料</mat-card-title>
      <mat-card-content fxLayout="column">

        <mat-form-field>
          <input formControlName="email" type="email" matInput placeholder="邮箱" readonly>
          <mat-error *ngIf="service.hasError('email', 'required')">请输入邮箱</mat-error>
          <mat-error *ngIf="!service.hasError('email', 'required') && service.hasError('email', 'email')">邮箱格式不正确
          </mat-error>
          <mat-error *ngIf="service.hasError('email', 'duplicated')">邮箱已存在</mat-error>
          <mat-hint *ngIf="service.control('email')?.pending">验证中...</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="username" type="text" matInput placeholder="用户名">
          <mat-error *ngIf="service.hasError('username', 'required')">请输入用户名</mat-error>
          <mat-error *ngIf="service.hasError('username', 'minlength')">用户名长度过短</mat-error>
          <mat-error *ngIf="service.hasError('username', 'maxlength')">用户名长度超过限制</mat-error>
          <mat-error *ngIf="service.hasError('username', 'duplicated')">用户名已存在</mat-error>
          <mat-hint *ngIf="service.control('username')?.pending">验证中...</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="nick" type="text" matInput placeholder="昵称">
          <mat-error *ngIf="service.hasError('nick', 'required')">请输入昵称</mat-error>
          <mat-error *ngIf="service.hasError('nick', 'minlength')">昵称长度过短</mat-error>
          <mat-error *ngIf="service.hasError('nick', 'maxlength')">昵称长度超过限制</mat-error>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" [disabled]="!service.current">保存</button>
        <a mat-button (click)="service.onReset($event)">重置</a>
      </mat-card-actions>
    </mat-card>
  </form>
</mat-card>
